@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f9c5d1;
  background-image: linear-gradient(315deg, #f9c5d1 0%, #9795ef 74%);
  transition: all 1.5s;
  font-size: 16px;
}

.container {
  width: 45%;
  min-width: 40rem;
  padding: 4rem 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 31px;
  transition: all 1.5s;
}

.light-container {
  background: #faecec;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

/* Header */
header {
  min-height: 2.5rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.score-table {
  border: 5px solid #8b2781;
  border-radius: 4px;
  text-align: center;
  width: 300px;
  margin: 20px auto;
  color: rgb(93, 90, 94);
  font-size: 40px;
  padding: 15px 20px;
  font-family: 'Cantarell', sans-serif;
  position: relative;
}

.badge {
  background: rgb(167, 68, 174);
  border-radius: 3px;
  color: white;
  font-size: 14px;
  padding: 2px 10px;
  font-family: 'Cantarell', sans-serif;
}

#user_label {
  position: absolute;
  width: 40%;
  top: 75px;
  left: 10px;
}

#computer_label {
  position: absolute;
  top: 75px;
  right: 10px;
}

/* Main Part (icons)*/
.main-part {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.main-part button {
  background-color: rgb(167, 68, 174);
  color: white;
  border: none;
  font-size: 4rem;
  height: 6.3rem;
  width: 6.3rem;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

#btn:hover {
  background-color: rgb(108, 58, 112);
}

/* Live Update */
.live-update {
  margin-top: 3rem;
  text-align: center;
}
#result {
  width: 15rem;
  padding: 1rem 0;
  margin: 2.5rem auto; /* auto - will automatically come to the center */
  font-weight: 700;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}

#userChoice,
#compChoice {
  font-weight: 400;
  margin-bottom: 0.5rem;
  color: rgb(40, 118, 226);
}
span {
  font-weight: 900;
  margin-left: 10px;
}

.refresh {
  width: 200px;
  margin: 0;
  padding: 10px;
  color: #ecf4f3;
  border: 5px solid rgb(167, 68, 174);
  border-radius: 10px;
  text-shadow: 0 1px 1px #bd83ce;
  background: rgb(167, 68, 174);
  font-size: 30px;
  cursor: pointer;
  font-family: Lato, sans-serif;
}

.refresh:hover {
  background-color: rgb(108, 58, 112);
  border: 5px solid rgb(108, 58, 112);
}

/* Responsive */

@media only screen and (max-width: 680px) {
  .container {
    width: 37%;
    min-width: 34rem;
    padding: 3.4rem 2.4rem;
  }
}

@media only screen and (max-width: 590px) {
  .container {
    width: 34%;
    min-width: 31rem;
    padding: 3.1rem 2.1rem;
  }
}

@media only screen and (max-width: 535px) {
  .container {
    width: 25%;
    min-width: 23rem;
    padding: 2.4rem 1.4rem;
  }

  .main-part button {
    font-size: 3rem;
    height: 5.8rem;
    width: 5.8rem;
    border-radius: 50%;
  }

  .live-update {
    margin-top: 2rem;
  }

  #result {
    width: 10rem;
    padding: 0.7rem 0;
    margin: 2.1rem auto;
    font-weight: 700;
    letter-spacing: 0.5px;
  }
}

@media only screen and (max-width: 395px) {
  .container {
    width: 20%;
    min-width: 18rem;
    padding: 2rem 1rem;
  }

  .main-part button {
    font-size: 1.8rem;
    height: 4.3rem;
    width: 4.3rem;
    border-radius: 50%;
    margin: 2px;
  }

  .live-update {
    margin-top: 2rem;
  }

  #result {
    width: 6rem;
    padding: 0.5rem 0;
    margin: 1.8rem auto;
    font-size: 0.6rem;
    font-weight: 700;
    letter-spacing: 0.2px;
  }
  .footer p {
    font-size: 1.6rem;
  } 
}


/* Footer */
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer {
  left: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: 10px;
}
.footer p {
  font-size: 1.2rem;
  text-align: center;
}
.footer p i {
  color: rgb(145, 33, 198);
}
.footer p span {
  background-image: linear-gradient(315deg, #8a4fbe 0%, #cb38e2 74%);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}

.footer p span a {
  text-decoration: none;
}
@media only screen and (max-width: 450px) {
  .footer p {
    margin: 0 1rem;
    font-size: 0.6rem;
  }
}